# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/api-server
bin/

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
*.coverage
*.coverprofile
profile.cov

# Environment Variables
.env
.env.*

# Go workspace file
go.work

# OS Specific
.DS_Store
Thumbs.db

# IDE / Editor
.idea/
.vscode/
*.swp